<h1>Your Cart:</h1>

<ul>
  <% session[:cart].each do |product| %>
  <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag "products/add", method: "post" do %>
<%= label_tag :product, "Product Name:" %>
<%= text_field_tag :product %>
<%= submit_tag "add to cart" %>
<% end %>
