Add a product:

<%= form_tag '/' do %>

  <%= label_tag :product %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart" %>

<% end %>

Here is what is in the cart:

<%= @cart_items.each do |item| %>
  <p><%= item %></p>
<% end %>
