<%= form_tag("/products") do %>
  <%= label_tag 'product' %>
  <%= text_field_tag 'product' %>
  <%= submit_tag 'add to cart' %>
<% end %>

<% if cart %>
  <ul>
    <% cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
  </ul>
<% else %>
  No products add. Please add a product.
<% end %>
