<%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>


<%= form_tag({controller: 'products', action: 'add', method: 'post'}) do %>
    <%= label_tag(:product, "Product nema") %>
    <%= text_field_tag(:product) %>
    <%= submit_tag("add to cart") %>
  <% end %>
