<p>Items in Cart:</p>

<ul>
  <%= cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<p>Add Item:</p>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <%= text_field_tag 'product' %>
  <%= submit_tag 'add to cart' %>
<% end %>
