<ul>
  <%= @cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag '/add' do %>
  Product Name: <%= text_field_tag "product" %>
  <%= submit_tag "add to cart" %>
<% end %>
