<h1>Add an item to your cart!</h1>

<%= form_tag("/products/add") do %>
  <%= label_tag(:product, "Add to cart:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>

<%= cart %>
