<h2>Welcome to your Cart!</h2>

<%= form_tag '/products' do %>
  <%= label_tag :product %>
  <%= text_field_tag :product %>
  <%= submit_tag("add to cart") %>
<% end %>
<h4>Cart</h4>
<% (@cart || cart).each do |item| %>
  <p><%= item %></p>
<% end %>
