<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<% @cart.each do |product| %>
  <h3><%= product %></h3>
<% end %>

<%= form_tag('/products/add', method: 'post') do %>
  <%= label_tag(:product, "Add product:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>
