<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% cart.each do |item| %>
<ul>
  <li>
    <%= item %>
  </li>
</ul>
<% end %>

<%= form_tag("/products/add", method: "post") do %>
  <%= label_tag(:item, "product:") %>
  <%= text_field_tag(:item) %>
  <%= submit_tag("add to cart") %>
<% end %>
