<h1>Cart</h1>

<ul>
<% cart.each do |p| %>
   <li> <%= p %> </li>
<% end %>
</ul>

<h3>Add a Product</h3>

<%= form_tag(method: "post") do %>
    <%= label_tag(:product, "Product:") %>
    <%= text_field_tag(:product) %>
    <%= button_tag("add to cart") %>
<% end %>

