<h3>Shop for New Products</h3>
<%= form_tag('/', method: 'post') do %>
  <%= label_tag :product %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart" %>
<% end %>

<h3>Your Shopping Cart</h3>
<ul>
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>
