<h1>YOUR CART:</h1>

<% @cart.each do |item| %>
  <%= item %><br>
<% end %>

  <h1>Add an item below: </h1>
  <%=form_tag('/add') %>
  <%=label_tag :product%>
  <%=text_field_tag :product %> <br>
  <%= submit_tag 'add to cart' %>