<!-- products/index -->

<%= form_tag('/') do %>
  <%= label_tag 'product' %>
  <%= text_field_tag 'product' %>
  <%= submit_tag "add to cart" %>
<% end %>
<% if session[:cart] %>
  <ul>
  <% session[:cart].each do |item| %>
    <li><%= item %></li>
  <% end %>
  </ul>
<% end %>
