<h2>Your cart:</h2>

<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag '/products' do %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart"%>
<% end %>
