<h1>Add products to your cart</h1>

<%= form_tag("/add", method: "post") do %>
  <%= label_tag(:product, "Product:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %><br /><br />
<% end %>

<h2>Cart:</h2>
<p><%= cart %></p>
