<ul>
<%= cart.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>

<%= form_tag '/', method: 'get' do %>
  <%= label_tag :product %>
  <%= text_field_tag :product %>
  <%= submit_tag 'add to cart' %>
<% end %>
