<%= form_tag("/products") do %>
  <%= label_tag(:product, "Product") %>
  <%= text_field_tag(:product) %>
  <%= button_tag("add to cart") %>
<% end %>


<% if cart %>
  <ul>
  <% cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
  </ul>
<% end %>
