<h2>Products page</h2>


<h3>Products List</h3>

<ul>
  <% if @cart.present?  %>
<%= @cart.each do |product| %>
  <li><%= product %></li>
<% end %>
<% end  %>
</ul>



<%= form_tag ('/') do %>
<%= label_tag :product %> <br>
<%= text_field_tag :product %>
<%= submit_tag 'add to cart' %>
<% end %>
