<h2>Current Cart:</h2>

<%= cart.each do |item| %>
    <%= item %><br>
<% end %>

<%= form_tag('/', method: "post") do %>
    <%= text_field_tag :product %>
    <%= submit_tag 'add to cart' %>
<% end %>