
<h3>Add New Product</h3>
<%= form_tag("/products/add") do %>
  Product Name: <%= text_field_tag "product" %><br>
  <%= submit_tag "add to cart" %>
<% end %>

<h3>Current Products in Cart</h3>
<!-- <p>Cart = <%= @cart %></p> -->
<ul>
  <!-- NOTE : Need to use the below line because of spec "shows everything in the cart" (doesn't go through index page) -->
  <% @cart = session[:cart] %>
  <% @cart.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
