<h1>Products in Cart</h1>

<ul>
  <% if cart %>
    <%= cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
  <% else %>
    <li>Your cart is empty</li>
  <% end %>
</ul>

<h1>Add Products</h1>

<%= form_tag add_path do %>
  <%= text_field_tag 'product'%>
  <%= submit_tag 'add to cart'%>
<% end %>
