<h1>You're at the products index page</h1>

    <% if !cart.empty?%>
      <ul>
        <% cart.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>

<%= form_tag('/products/add') do %>
  <%= label_tag(:product, "Product Name:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>
