<h1>Items in your cart:</h1>

<ul>
<% @cart.each do |product| %>

<li> <%= product %> </li>
<% end %>
</ul>

<h2>Add product to cart:</h2>
<%= form_tag('/add', method: 'post') do %>
<%= label_tag :product %>
<%= text_field_tag :product %>
<%= submit_tag('add to cart') %>
<% end %>
